<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crypho.SecureStorageTestApp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Plugin Secure Storage Test App</name>
    <description>
        Application that runs cordova-plugin-secure-storage tests
    </description>
    <content src="cdvtests/index.html" />
    <platform name="android">
        <feature name="Launcher">
            <param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
        </feature>
    </platform>
    <platform name="ios">
    </platform>
    <plugin name="cordova-plugin-test-framework"/>
    <plugin name="cordova-plugin-secure-storage" spec="https://github.com/Crypho/com.crypho.plugins.securestorage" />
    <plugin name="cordova-plugin-secure-storage-tests" spec="plugins/cordova-plugin-secure-storage/tests" />
    <engine name="android"/>
    <engine name="ios"/>
</widget>